/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
*, *:before, *:after {
box-sizing: inherit;
}

body {
    background-color: rgb(77, 76, 76);
    font-family: arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
}
#header {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    margin-bottom: 20px;
    margin-top: 20px;
}
#nav {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    margin-bottom: 20px;
}
#section {
    width: 545px;
    float: left;
    background-color: #eee;
    text-align: center;
    z-index: 2;
    height: 270px;
}
#aside {
    float: right;
    width: 400px;
    background-color: #eee;
    text-align: center;
    height: 270px;
    margin-bottom: 20px;
}
#article {
    background-color: #999;
    width: 525px;
    height: 200px;
    z-index: 1; 
    margin-left: 10px;
    margin-top: 25px;
    padding: 10px;
    /* line-height: 10px; */
}
#h1h2h3 {
    background-color: #eee;
    width: 480px;
    margin-left: 13px;
    height: 50px;
    padding: 1px;
    text-align: center;
    margin-bottom: 10px;
}
#soloP {
    background-color: #eee;
    width: 480px;
    height: 50px;
    margin-left: 13px;
    padding: 1px;

}
#footer {
    padding: 20px;
    background-color: #eee;
    text-align: center;
    clear: both;
    
}